/*=========MAIN-STYLESHEET=========*/
html
{
    font-size: 16px;
}
ul
{
    width: 100%;
    margin: 0;
    padding: 0;
}
li
{
    list-style: none;
    font-family: 'LMSR';
}
a
{
    color: #000000;
    cursor: auto;
    text-decoration: none;
}
p, label, li, a
{
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-right: 20px;
}
/*======TOOLS======*/
.wrapper
{
    margin: 0 auto;
    width: 1024px;
}
.column-spaced
{
    display: flex;
    justify-content: space-around;
}
.column-spred
{
    display: flex;
    justify-content: space-between;
}
.column-center
{
    display: flex;
    justify-content: center;
}
.button
{
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
}
.button:hover
{
    background-color: #999999;
}
.row-alignment-start
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.row-alignment-end
{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
/*===TITLE'S===*/
h1,h2,h3,h4,h5,h6,sub
{
    margin: 0;
    padding: 0;
    font-family: 'LMSR';
    color: #ffffff;
}
h3
{
    padding-left: 20px;
}
.subtitle
{
    font-size: 1.3em;
}
/*===FORMS===*/
.textarea
{
    background-color: #ffffff;
    border: solid 3px #999999;
    color: #000000;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 6px;
}
label
{
    width: 100px;
    margin-bottom: 10px;
}
/*===DIV'S===*/
.page-title
{
    border-bottom: solid #000000 2px;
    width: 1024px;
    padding: 0 40px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.navbar
{
    padding: 20px 25px;
    display: flex;
    align-items: center;
}
.shortnav
{
    width: 400px;
}
.group-form
{
    display: flex;
    justify-content: center;
}
.digital-clock
{
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Timebomb';
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 25px;
}
/*===TEXT===*/
.navbar li
{
    font-size: 1.3em;
}
/*===BACKGROUND===*/
html
{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.wrapper_page
{
    padding: 20px 0;
    border-radius: 25px;
    overflow: hidden;
    color: #ffffff;
    background-color: darkolivegreen;
}
footer, .footer
{
    border-radius: 25px;
    background-color: #999999;
    margin: 20px;
    padding: 20px;
}
/*======FONTS======*/
@font-face {
    font-family: 'LMSR';
    src: url('../fonts/LMSans10-Regular.eot');
    src: url('../fonts/LMSans10-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LMSans10-Regular.woff') format('woff'), url('../fonts/LMSans10-Regular.ttf')
    format('truetype'), url('../fonts/LMSans10-Regular.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Timebomb';
    src: url('../fonts/TickingTimebombBB.eot');
    src: url('../fonts/TickingTimebombBB.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TickingTimebombBB.woff') format('woff'), url('../fonts/TickingTimebombBB.ttf')
    format('truetype'), url('../fonts/TickingTimebombBB.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}
/*======MEDIA-QUERY======*/
/*======lijnen van pools======*/
.ladder
{
    width: 100%;
    height: 800px;
}
.final
{
    width: 20%;
}
.block
{
    height: 25%;
}
.block2
{
    height: 50%;
}
.l2
{
    border-top: solid 2px #000000;
    border-right: solid 2px #000000;
}
.l3
{
    border-bottom: solid 2px #000000;
    border-right: solid 2px #000000;
}
.r2
{
    border-top: solid 2px #000000;
    border-left: solid 2px #000000;
}
.r3
{
    border-bottom: solid 2px #000000;
    border-left: solid 2px #000000;
}
.l5, .r5, .mid9
{
    border-bottom: solid 2px #000000;
}
.digital-clock p
{
    font-size: 2em;
}
